.customize-pane-parent #accordion-section-medicall_view_pro h3 a{
    background-color: #13297E !important;
    color: white;
    border-color: #13297E;
    transition: 0.35s ease;
}

.customize-pane-parent #accordion-section-medicall_view_pro h3 a:hover{
    background-color: #1E3EBD !important;
    border-color: #1E3EBD !important;
}

#sub-accordion-section-theme_info #customize-control-theme_info_theme .customize-control-description ul li{    
    margin-top: 10px !important;
}

#sub-accordion-section-theme_info #customize-control-theme_info_theme .customize-control-description ul li{
   display: flex;
   justify-content: space-between;
   font-size: 16px;
}

#sub-accordion-section-theme_info #customize-control-theme_info_theme .gl-notice-custom-control{
    border: none;
}

#accordion-section-medicall_view_pro h3{
    padding: 14px 10px 20px 14px;
}

.wp-admin.block-editor-page .edit-post-layout .interface-navigable-region .edit-post-layout__metaboxes #medicall_sidebar_layout .inside .sidebar-layout{
    display: flex;
    column-gap: 25px;
    row-gap: 18px;
    flex-wrap: wrap;
}




