
.edit-post-meta-boxes-area .postbox-header .handle-actions .handle-order-higher{
    display: none;
}
.edit-post-meta-boxes-area .postbox-header .handle-actions .handle-order-higher .order-higher-indicator,
.edit-post-meta-boxes-area .postbox-header .handle-actions .handle-order-lower .order-lower-indicator{
 color: #fff;
    padding: 2px 6px;
    display: inline-block;
    border-radius: 4px;
    transition: all ease 0.35s;
}
.edit-post-meta-boxes-area .postbox-header .handle-actions .handle-order-higher:focus,
.edit-post-meta-boxes-area .postbox-header .handle-actions .handle-order-lower:focus{
     box-shadow: none;
     outline: none;
}
.edit-post-meta-boxes-area .postbox-header .handle-actions .handle-order-higher:hover span,
.edit-post-meta-boxes-area .postbox-header .handle-actions .handle-order-lower:hover span{
     background-color: rgba(204,204,204,0.32);
}
.edit-post-meta-boxes-area .postbox-header .handle-actions .handle-order-lower .order-lower-indicator::before{
    transform: rotate(-90deg)
}
.edit-post-meta-boxes-area .postbox-header .handle-actions .handle-order-higher .order-higher-indicator::before{
    transform: rotate(-90deg)
}
.edit-post-meta-boxes-area.is-side .postbox-header .handle-actions .handle-order-higher .order-higher-indicator,
.edit-post-meta-boxes-area.is-side .postbox-header .handle-actions .handle-order-lower .order-lower-indicator{
 color: #1e1e1e;
}
.edit-post-meta-boxes-area.is-side .postbox-header .handle-actions .handle-order-higher .order-higher-indicator::before,
.edit-post-meta-boxes-area.is-side .postbox-header .handle-actions .handle-order-lower .order-lower-indicator::before,
.edit-post-meta-boxes-area.is-side .postbox-header .handle-actions .handlediv .toggle-indicator::before{
 font-size: 16px;
}
.edit-post-meta-boxes-area .postbox .postbox-header{
    background-color: #2563EB;
    color: #fff;
    border-color: #2563EB;
}

.edit-post-meta-boxes-area .handle-actions .handlediv .toggle-indicator::before{
    color: #fff;
    content: '\f343' !important;
}
.edit-post-meta-boxes-area .handle-actions .handlediv:focus{
    box-shadow: none;
}
.edit-post-meta-boxes-area .handle-actions .handlediv .toggle-indicator{
    padding: 2px 6px;
    display: inline-block;
    border-radius: 4px;
    transition: all ease 0.35s;
}

.edit-post-meta-boxes-area .handle-actions .handlediv .toggle-indicator:hover{
    background-color: rgba(204,204,204,0.32);
    
}
.edit-post-meta-boxes-area .handle-actions .handlediv .toggle-indicator::before{
    transform: rotate(180deg);
}
.edit-post-meta-boxes-area .postbox.closed .handle-actions .handlediv .toggle-indicator::before{
    transform: rotate(0);
}

.edit-post-meta-boxes-area .postbox>.inside{
    background-color: rgba(204,204,204,0.2);
    margin-top: 0 !important;
    padding: 16px 24px;
}
.edit-post-meta-boxes-area .postbox>.inside p .button{
    color: #2563EB;
    border-color: #2563EB;
    transition: all ease 0.35s;
    padding: 2px 16px;
}
.edit-post-meta-boxes-area .postbox>.inside p .button:hover{
    background-color: #2563EB;
    color: #fff;
}
.edit-post-meta-boxes-area .postbox>.inside > label{
    margin-bottom: 12px;
    display: inline-block;
    color: #2563EB;
    font-weight: 500;
    font-size: 14px;
}
.edit-post-meta-boxes-area.is-side .postbox-header{
    background-color: #fff;
    color: #1e1e1e;
    border-width: 0;
    padding: 16px;
}
.edit-post-meta-boxes-area.is-side .postbox-header h2.hndle{
    font-size: 13px !important;
    padding: 0 !important;
}
.edit-post-meta-boxes-area.is-side .handle-order-lower{
    display: none;
}

.edit-post-meta-boxes-area.is-side .postbox-header .handle-actions .handle-order-higher{
    display: inline-block;
}

.edit-post-meta-boxes-area.is-side .postbox-header .handle-actions .handlediv .toggle-indicator::before{
    color: #1e1e1e;
}
.edit-post-meta-boxes-area.is-side .inside{
    padding: 16px;
}
.edit-post-meta-boxes-area.is-side .inside > label{
    font-size: 13px;
    font-weight: 400;
}

.edit-post-meta-boxes-area.is-side #gl-table-repeater thead tr th{
    font-size: 13px !important;
    font-weight: 400 !important;
    padding: 14px 16px !important
}
.edit-post-meta-boxes-area.is-side #gl-table-repeater tbody tr td{
    padding: 14px 16px !important;
}
.edit-post-meta-boxes-area.is-side .postbox .handle-order-higher .order-higher-indicator::before, 
.edit-post-meta-boxes-area.is-side .postbox .handle-order-lower .order-lower-indicator::before{
    height: 16px;
    width: 16px;
}
.edit-post-meta-boxes-area .inside .sidebar-layout .sidebar-option{
    padding: 12px;
    padding-bottom: 0;
    border-radius: 6px;
    background-color: #D0D0D0;
    transition: all ease 0.35s;

}
.edit-post-meta-boxes-area .inside .sidebar-layout .sidebar-option input[type=radio]{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.edit-post-meta-boxes-area .inside .sidebar-layout .sidebar-option:has(input[type=radio]:checked){
    background-color: #6CB0EF;
}
.edit-post-meta-boxes-area .inside .sidebar-layout .sidebar-option img{
    border-radius: 6px 6px 0 0;
}
.edit-post-meta-boxes-area .inside .sidebar-layout .sidebar-option label.description{
    cursor: pointer;
    line-height: 0;
}

.edit-post-meta-boxes-area.is-side .inside .sidebar-layout .sidebar-option{
    padding: 4px;
    border-radius: 4px;
    padding-bottom: 0;
}

.edit-post-meta-boxes-area .inside .sidebar-layout{
    display: flex;
    gap: 48px;
}


.edit-post-meta-boxes-area.is-side .inside .sidebar-layout .sidebar-option img {
    border-radius: 4px 4px 0 0;
}

.edit-post-meta-boxes-area.is-side .inside .sidebar-layout{
    gap: 12px !important;
    flex-wrap: wrap;
}

.edit-post-meta-boxes-area.is-side .inside .sidebar-layout .sidebar-option{
    width: calc(50% - 14px);
}
@media screen and (min-width: 1198px) {
    .edit-post-meta-boxes-area .inside .sidebar-layout .sidebar-option{
        padding: 24px;
        padding-bottom: 0;
    }
}